[submodule "product-docs-supplemental-files"]
	path = product-docs-supplemental-files
	url = https://github.com/rancher/product-docs-supplemental-files.git
[submodule "dsc-style-bundle"]
	path = dsc-style-bundle
	url = https://github.com/SUSEdoc/dsc-style-bundle
