[submodule "dsc-style-bundle"]
	path = dsc-style-bundle
	url = https://github.com/SUSEdoc/dsc-style-bundle
[submodule "product-docs-common"]
	path = product-docs-common
	url = https://github.com/rancher/product-docs-common
