name: Test deployment
run-name: Test deployment (Product)

on:
  pull_request:
    paths-ignore:
      - '**/README.md'
    types: [opened, edited, synchronize, reopened]

permissions:
  pull-requests: write

jobs:
  test-deploy:
    strategy:
      fail-fast: false
      matrix:
        playbook: ['playbook-product-local.yml', 'playbook-srfa-local.yml']
    uses: rancher/product-docs-common/.github/workflows/test-deploy-min.yml@main
    secrets:
      token: ${{ github.token }}
    with:
      playbook-name: ${{ matrix.playbook }}